#cost_table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 10px;
}

#cost_table td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

#cost_table tr:nth-child(even) {
    background-color: #dddddd;
}